.geometry-container {
  flex: 1;
  background-color: red;
  padding-left: 4px;
  position: relative;
  .geometry-scene {
    position: absolute;
    left: 0;
    width: 30vw;
    height: 30vw;
    stroke: black;
    fill: none;
    .point {
      fill: black;
      stroke: none;
    }
    .point-name {
      font-size: 2rem;
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      fill: black !important;
      stroke: none;
    }
    .free-point {
      fill: blue;
      stroke: none;
      cursor: pointer;
    }
    .handle {
      fill: none;
      stroke: rgba(0, 0, 0, 0);
      stroke-width: 20;
    }
    .active {
      stroke-width: 2px;
      cursor: pointer;
    }

    .point {
      fill: black;
      stroke: none;
    }

    .point-name {
      font-size: 2rem;
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      fill: black !important;
      stroke: none;
    }

    .free-point {
      fill: blue;
      stroke: none;
      cursor: pointer;
    }

    .handle {
      fill: none;
      stroke: rgba(0, 0, 0, 0);
      stroke-width: 20;
    }

    .active {
      stroke-width: 2px;
      cursor: pointer;
    }
  }
}
