@import '../../../utils/color.scss';
@font-face {
  font-family: menuFont;
  src: url('../../../resources/fonts/HelveticaNeue-Light.otf');
}

.input-item {
  height: 36px;
  border-radius: 3px;
  margin-bottom: 1rem;

  .context-menu {
    position: fixed;
    z-index: 9999;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 3px;
    .context-menu-item {
      height: 40px;
      display: flex;
      flex-direction: row;
      padding: 0 5px;
      align-items: center;
      p {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        font-family: menuFont, sans-serif;
        font-size: 1rem;
      }
    }
  }

  .input-container {
    width: 100%;
    position: relative;

    .input-remove-btn {
      z-index: 1000;
      width: 0px;
      height: 0px;
      display: flex;
    }

    input {
      display: flex;
      flex: 1;
      box-shadow: none;
    }
    input:focus {
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }

    .input-status {
      span {
        background-color: white;
      }
    }
  }

  .input-container:hover {
    .input-remove-btn {
      position: absolute;
      right: 2px;
      top: 2px;
      width: 15px;
      height: 15px;
      justify-content: center;
      align-items: center;
    }
  }
}

.success {
  border: solid 1px $success-input-status-color !important;
}

.error {
  border: solid 1px $error-input-status-color !important;
}

.normal {
  border: solid 1px $normal-input-status-color !important;
}
