@font-face {
  font-family: appNameFont;
  src: url('../../resources/fonts/HATINH.TTF');
}

@font-face {
  font-family: appDescriptionFont;
  src: url('../../resources/fonts/Nunito-Light.ttf');
}

@font-face {
  font-family: appFooterFont;
  src: url('../../resources/fonts/HelveticaNeue-Light.otf');
}

$headerHeight: 10vh;
$footerHeight: 5vh;
$bodyHeight: 100vh - $headerHeight - $footerHeight;
$cardHeaderHeight: 60px;

$cardWidth: 380px;
$cardHeight: calc(#{$bodyHeight} - #{$cardHeaderHeight} - #{$cardHeaderHeight});
$borderColor: #e4e4e4;

.container-fluid {
  padding: 0;

  .app-header {
    height: $headerHeight;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 255, 0, 0.2);

    .app-name {
      height: 66%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: appNameFont, sans-serif;
        font-size: 3rem;
        margin: 0;
      }
    }

    .app-description {
      height: 33%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: appDescriptionFont, sans-serif;
        font-size: 1.75rem;
        margin: 0;
      }
    }
  }

  .app-body {
    height: $bodyHeight;
    display: flex;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;

    .app-controller {
      display: block;
      width: $cardWidth;
      min-width: 300px;
      border-right: 1px solid $borderColor;

      .accordion {
        .card {
          .card-body {
            max-height: $cardHeight;
            overflow-y: scroll;
            scroll-behavior: smooth;
            scrollbar-color: transparent;
            padding: 0 0.5rem 0 1rem;
            > div {
              padding-bottom: 0.5rem;
              .add-row-container {
                cursor: pointer;
                margin-top: 10px;
                display: flex;
                color: #757575;
                font-size: 1rem;
                align-items: center;
                > p {
                  margin: 0 0 0 8px;
                }
              }
            }
          }
          .card-header {
            height: $cardHeaderHeight;
            padding: 0.75rem 0.5rem 0.75rem 1rem;
          }
          .card-body::-webkit-scrollbar {
            display: none; // Safari and Chrome
          }
        }
      }
      .app-controller-nav {
        margin-bottom: 20px;

        button {
          width: 100%;
        }
      }

      .left-panel-tab {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0.1rem;

        .icon-container {
          background-color: transparent;
          border-color: transparent;
          box-shadow: none !important;
          display: flex;
          justify-content: center;
        }
        p {
          font-family: appDescriptionFont, sans-serif;
          font-size: 1.25rem;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    .app-drawing-panel {
      display: flex;
      flex: 1;
      margin: 10px 0 10px 0;
    }
  }

  .app-footer {
    position: relative;
    background-color: #fff;
    display: flex;
    height: $footerHeight;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    p {
      font-family: appFooterFont, sans-serif;
      font-size: 1rem;
      margin: 0;
    }
  }

  #tooltip-right {
    .tooltip-inner {
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      max-height: 200px;
      max-width: 1000px;
      overflow-y: hidden;
    }
  }

  #tooltip-right .arrow:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #fff;
  }
}
