@font-face {
  font-family: appDescriptionFont;
  src: url('../../../../resources/fonts/Nunito-Light.ttf');
}

.segment-setting {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: solid 1px #dcdcdc;
  .container {
    position: relative;
    background-color: white;
    padding: 0;
    .title {
      background-color: transparent;
      p {
        margin: 0;
        font-weight: bold;
        font-size: 1rem;
        font-family: appDescriptionFont, sans-serif;
      }
    }
    .content-show {
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
          width: 24px;
          height: 24px;
          justify-content: center;
          align-items: center;
          display: flex;
        }

        .segment-edit-name {
          padding: 0;
          display: flex;
          justify-content: start;
          > p {
            flex: 1;
            display: flex;
            margin: 0;
            font-weight: bold;
            font-size: 1.1rem;
            font-family: appDescriptionFont, sans-serif;
          }
        }

        .segment-edit-controller {
          padding: 0;
          display: flex;
          justify-content: space-between;

          > div {
            display: flex;
            align-items: center;
            &:hover {
              cursor: pointer;
              color: #dc3545;
            }
          }
        }

        .toggle {
          border-radius: 3px;
          margin-right: 5px;
          min-width: 50px;
          min-height: 25px;
          .toggle-on {
            padding: 0.15rem;
            font-size: 0.75rem;
            font-weight: 500;
          }
          .toggle-off {
            padding: 0.15rem;
            font-size: 0.75rem;
            font-weight: 500;
          }
          .toggle-handler {
            width: 0;
            height: 0;
          }
          .btn:not(:disabled):not(.disabled) {
            cursor: default;
          }
        }
        .toggle.btn {
          min-width: 50px;
          min-height: 25px;
        }
      }
    }

    .content-edit {
      margin: 0.3rem 0 0.5rem 0;
      .drop-down-container {
        width: 100%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        > div {
          flex: 1;
          .dropdown {
            > button {
              width: 100%;
              min-width: 60px;
              background-color: white;
              border: solid 1px black;
              padding: 5px 7px 5px 12px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: black;
              font-weight: 500;
              font-family: appDescriptionFont, sans-serif;
            }
            button:focus {
              outline: none;
              box-shadow: none;
            }
            button:after {
              color: black;
            }
          }
        }
        .right-drop-down {
          margin-left: 5px;
        }
      }
      .button-container {
        display: flex;
        justify-content: flex-end;
        button {
          min-width: 60px;
          outline: none;
          box-shadow: none;
          margin-top: 5px;
          font-weight: 500;
          padding: 5px 12px 5px 12px;
        }
        .btn-link {
          color: #28a745;
          border: solid 1px #28a745;
        }
        .btn-cancel {
          min-width: 66px;
          border: none;
          background-color: transparent;
          color: #dc3545;
        }
        .btn-update {
          min-width: 105px;
        }
        button:hover {
          text-decoration: none;
        }
      }
    }
  }
}
